<body>
  <div class="container">
	  <div class="row">
	  	  <div class="col-xs-3"></div>
	  	  <div class="col-xs-6">
			  <h3><span><about class="about_title">〜地域の魅力をもっと多くの人に〜</span></h3>

			  	このサイトでは、旅行して楽しかった場所や
				住んでいる地域・その周辺の良いと感じた場所を
				投稿・閲覧できる地域情報サイトです。

				＜利用における説明＞
				初めてのご利用の方には「新規会員登録」をお願いしております。
				※以前「新規会員登録」をしてご利用頂いた方には、「ログイン」ページより必要事項を入力後、アクセス頂けます。

				１. 投稿一覧
				 投稿一覧画面より、全ての投稿を閲覧することが出来ます。

				２. マイページ
				 マイページ画面より、プロフィールの作成を行うことが出来ます。
				 また、ご自身が投稿した内容も全て確認する事が可能です。

				３. 投稿について
				「投稿一覧画面」及び「マイページ画面」のどちらからでもサイドバーにあるリンクより、画像を含めて投稿を行うことが出来ます。


				＜その他機能について＞
				１. いいね機能
				いいなと思った投稿に、１人１つ「いいね」をつけることが出来ます。

				２. コメント機能
				投稿詳細画面より、投稿に対する意見や感想などコメントを入力することが出来ます。

				３. 検索機能
				ヘッダーにある検索欄より、閲覧したい「都道府県名」を入力して頂くことで、投稿内容を絞って閲覧する事が出来ます。


				＜最後にこのサイトを通して＞
				１. 旅行会社や情報誌・サイトでは取り上げられていなくとも、各々が旅行してみて「良かった。楽しかった。感動した。」場所、住んでいる地域やその周辺の良い所、自慢できる所はもっと多くあると思います。
				 こうした各々が感じた良い所を投稿・共有して頂き、様々な投稿内容を通して、多くの方が色々な地域や場所の良さを知って・訪れてもらえるきっかけになれたらと願っています。

				２. 隠れスポットや有名な場所、アニメの聖地や施設、温泉の泉質やその場所でしか味わえないグルメ・開催されるイベントなどを知れるきっかけとなり、サイト利用者皆で地域を盛り上げ、より多くの地域活性化の支えになれたらと考えています。

			  <div class="btn-wrapper">
			  	  <%= link_to '新規会員登録', new_user_registration_path, class: "btn btn-success btn-block" %>
				  <%= link_to 'ログイン', new_user_session_path, class: "btn btn-primary btn-block" %>
				  <%= link_to 'HOMEに戻る', root_path, class: "btn btn-info btn-block" %>
			  </div>
	      </div>
	  </div>
  </div>
</body>