<body>
	<div class="container">
	  <div class="col-xs-7 col-xs-offset-5 about">
		 <br>ようこそ、ブレイクZONEへ！
		 <br>このサイトは、サイトになります。
		 <br>このサイトは、サイトになります。
		 <br>このサイトは、サイトになります。
		 <br>このサイトは、サイトになります。
		 <br>このサイトは、サイトになります。
		 <br>このサイトは、サイトになります。
		 <br>このサイトは、サイトになります。
		 <br>このサイトは、サイトになります。
		 <br>このサイトは、サイトになります。
		 <br>このサイトは、サイトになります。
		 <br>このサイトは、サイトになります。
		 <br>このサイトは、サイトになります。
		 <br>このサイトは、サイトになります。
		 <br>このサイトは、サイトになります。
		 <br>このサイトは、サイトになります。
		 <br>このサイトは、サイトになります。
		 <br>このサイトは、サイトになります。
		 <br>このサイトは、サイトになります。
		 <br>このサイトは、サイトになります。
		 <br>このサイトは、サイトになります。
		 <br>このサイトは、サイトになります。
		 <br>このサイトは、サイトになります。
		 <br>このサイトは、サイトになります。
		 <br>1このサイトは、サイトになります。
		 <br>2このサイトは、サイトになります。
		 <br>3このサイトは、サイトになります。
	  </div>

	  <div class="btn-wrapper">
	  	  <%= link_to '新規会員登録',new_user_registration_path, class: "btn btn-success btn-block" %>
		  <%= link_to 'ログイン',new_user_session_path, class: "btn btn-info btn-block" %>
	  </div>
	</div>
</body>