/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .title {
  color: #888888;
  font-size: 50px;
  font-family: 'arial black','HiraKakuPro-W6';
 }

 .footer {
  background-color: gray;
  color: white;
  padding: 40px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
 }

 .session-title{
   text-align: center;
 }

 .registration-info{
   text-align: center;
 }

 .registration-title{
   text-align: center;
 }

 .session-info{
   text-align: center;
 }

 .session-table{
   border-collapse: separate;
   border-spacing: 10px 10px;
 }

 .registration-table {
   border-collapse: separate;
   border-spacing: 8px 8px;
}

 .password-title{
   text-align: center;
 }

 .password-table{
   border-collapse: separate;
   border-spacing: 10px 10px;
 }

 body
 ,#wrap{
   min-height: 100vh;
   position: relative;
   padding-bottom: 120px;
   box-sizing: border-box;
 }


